body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.withBorder {
    padding: 30px;
    margin-bottom: 30px;
    color: inherit;
    border-radius: 6px;
    border: 1px solid #eee;
}

.withBorder .title {
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 15px;
    font-size: 1.2em;
}

.editor-label {
    float: left;
    clear: left;
    width: 150px;
    margin-top: 2px;
}
.editor-label,
.editor-field {
     margin-bottom: 4px;
}
.editor-field {
    float: left;
}
.editor-field input {
    border: 1px solid #AAA;
    border-radius: 4px;
    padding-left: 6px;
    vertical-align: middle;
    height: 25px;
}
.optional {
    color: #AAA;
}
.btn-submit {
    margin-top: 10px;
}
#requestContainer,
#responseContainer {
    display: none;
}