@{
    ViewBag.Title="About Farm Finder";
}

<div class="jumbotron">
    <h1>Farm Finder</h1>
    <p class="lead">Is a search engine including backend which is based on different .NET technologies and serves primarily as search service of an android app.</p>
</div>
<div class="withBorder">
    <p>The current version is a prototype which includes</p>
    <ul>
        <li>A search API
            <ul>
                <li>Search for farms by location and optionally by query parameters.</li>
                <li>Based on Web API (REST API which supports JSONP).</li>
                <li>Uses lucence.NET as search engine and makes use of subscriptions to get notified about index changes.</li>
            </ul>
        </li>
        <li>A backend (this website)
            <ul>
                <li>CRUD for farms and products.</li>
                <li>Uses queues to inform worker role about changes in the database.</li>
            </ul>
        </li>
        <li>A worker role
            <ul>
                <li>Which creates and maintains the lucene index (incrementally).</li>
                <li>Makes use of topics to inform the web roles (the search API) about an index change.</li>        
            </ul>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET Web API</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lucence.Net</h2>
        <p>Lucene.Net is a port of the Lucene search engine library, written in C# and targeted at .NET runtime users. The Lucene search library is based on an inverted index. Lucene.Net has three primary goals.</p>
        <p><a class="btn btn-default" href="http://lucenenet.apache.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Azure</h2>
        <p>This backend application is built for Azure, Microsoft's Cloud Computing Platform. It is ussing a Service Bus, a Blob Storage, a SQL Database and a Website.</p>
        <p><a class="btn btn-default" href="hhttp://azure.microsoft.com/">Learn more &raquo;</a></p>
    </div>
</div>
