<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="ApplicationDbContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=ApplicationDbContext-20150118132733; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=D:\Eigene Dateien\Uni\Cloud Computing\FarmFinder\FarmFinder\FarmFinder.WebSite\App_Data\ApplicationDbContext-20150118132733.mdf" providerName="System.Data.SqlClient" />-->
    <add name="ApplicationDbContext" connectionString="Server=tcp:f9iirshdmh.database.windows.net,1433;Database=FarmFinder;User ID=farmfinder@f9iirshdmh;Password=hZ2kld.e$o;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>